// Variables

$primary-font: 'Manrope', sans-serif;
$secondary-font: 'Anton', sans-serif;

$primary-color: #FFD15B;
$white-font: #fff; 
$grey-dark:#7A7A7A;
$grey-light:#EDEDED;
$light-black: #1B1B1B;

$content-padding:60px;